*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
} 
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/bgabt.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 40px;
    font-size: 48px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 200px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


/* -----------About us------ */
.container{
    text-align: center;
    background: black;
}
.header{
    padding-top: 30px;
    color: #fff;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.sb-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
}
.teams:hover{
    background: #ddd;
    border-radius: 12px;
}
.teams img{
    width: 200px;
    height: 200px;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}
.desig{
    font-style: italic;
    color: black;
}
.about{
    margin: 20px 0;
    font-weight: 200;
    color: black;
}
.social-links{
    margin: 14px;
}
.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: 0.5s;
}
.social-links a:hover{
    transform: scale(1.5);
}
.social-links a i{
    color: #f44336;
}

/* -----------Contact us------ */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

/* ------------footer--------- */
.footer{
    width: 100%;
    align-items: center;
    padding: 30px 0;
    background: #333;
    }
    .footer h4{
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
        color: #fff;
    }
    .footer p{
        color: #fff;
    }
    .icons{
        color:#f44336;
        margin:0 14px;
        cursor:pointer;
        padding: 18px 0;
    }
    .fa-heart-o{
        color:#f44336;
    }
    
    

    
    
