*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
} 
.bg{
    background: linear-gradient(270deg, #246655, #7988d6, #aac14c, #f2c1a0, #ed13c7);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}


    }
